apiVersion: apps/v1
kind: Deployment
metadata:
  name: baas-auth
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: auth
          image: ghcr.io/wkebaas/auth:v0.0.2
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: baas-auth-secret
            - configMapRef:
                name: baas-auth-config
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: baas-db-app
                  key: uri
